In [12]:
#program to print the company name of a given email address. Both user names and company names are composed of letters only.
s='hello@company.com'
a=s.split('@')
r=a[1].split('.')[0]
print(r)

company

In [33]:
#program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically
a=str(input('enter a comma-separated string:'))
b=a.split(',')
b.sort()
print(','.join(b))

enter a comma-separated string: giu,kiu,nhyu,xgh,lou,ctyyg

ctyyg,giu,kiu,lou,nhyu,xgh

In [15]:
#Sets
s={1,2,3,4,5,6,'hi'}
s.update(['hello',21,40])
s.remove('hi')
s.pop()
print(s)
s1={1,2,3,1,45,8}
s2=s.union(s1)
print(s2)
s3=s.intersection(s1)
print(s3)

{2, 3, 4, 5, 6, 40, 21, 'hello'}
{1, 2, 3, 4, 5, 6, 40, 8, 45, 21, 'hello'}
{2, 3}

In [27]:
#a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
n='1 2 3 4 5 6 7 8 10'
d=list(n.split(' '))
j=0
for i in range(1,11):
    if i==int(d[j]):
        j+=1
    else:
        print(i)

9

In [33]:
#program to print this list L after removing all duplicate values with original order reserved

i='12 14 15 16 14 23 12 56 78 123 12 456 123 1245 5'
a=i.split(' ')
b=[]
for i in a:
    if i in b:
        continue
    else:
        b.append(i)
        
print(' '.join(b))

12 14 15 16 23 56 78 123 456 1245 5