In [16]:

%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [17]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244914 entries, 0 to 244913
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   244914 non-null  object
 1   year    244914 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [6]:
titles['title'].value_counts().sum()

244914

### What are the earliest two films listed in the titles dataframe?

In [25]:
titles.sort_values('year')['title'].head(2)

193222            Miss Jerry
51388     The Startled Lover
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [31]:
titles[titles['title']=='Hamlet']['title'].count()

20

### How many movies are titled "North by Northwest"?

In [32]:

titles[titles['title']=='North by Northwest']['title'].count()

1

### When was the first movie titled "Hamlet" made?

In [37]:
titles[titles['title']=='Hamlet']['year'].sort_values().head(1)

52521    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [38]:
titles[titles['title']=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [44]:
titles[titles['year']==1950]['year'].count()

1113

### How many movies were made in the year 1960?

In [45]:
titles[titles['year']==1960]['year'].count()

1549

### How many movies were made from 1950 through 1959?

In [47]:
def year(x):
    y=[1950,1951,1952,1953,1954,1955,1956,1957,1958,1959]
    if x in y:
        return True
    else:
        return False

In [50]:
sum(titles['year'].apply(lambda x: year(x)))

12934

### In what years has a movie titled "Batman" been released?

In [51]:
titles[titles['title']=='Batman']['year']

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [52]:
cast=pd.read_csv('cast.csv')

In [55]:
cast[cast['title']=='Inception']['character'].count()

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [59]:
cast[cast['title']=='Inception']['character'].isna().sum()

0

### But how many roles in the movie "Inception" did receive an "n" value?

In [60]:
cast[cast['title']=='Inception']['character'].dropna().count()

78

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [62]:
cast[cast['title']=='North by Northwest'].sort_values('n').dropna()

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [70]:
cast[cast['year']==1972][cast['title']=='Sleuth']['n']

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

326773     2.0
373876     3.0
1448690    6.0
1465483    4.0
1705394    1.0
2724553    5.0
Name: n, dtype: float64

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [71]:
cast[cast['year']==2007][cast['title']=='Sleuth']['n']

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

260242     NaN
326774     1.0
373877     NaN
1293634    2.0
1805907    3.0
2724552    NaN
3370424    NaN
Name: n, dtype: float64

### How many roles were credited in the silent 1921 version of Hamlet?

In [73]:
cast[cast['year']==1921][cast['title']=='Hamlet']['character'].count()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [74]:
cast[cast['year']==1996][cast['title']=='Hamlet']['character'].count()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [75]:
cast[cast['title']=='Hamlet']['character'].count()

342

### How many people have played an "Ophelia"?

In [77]:
cast[cast['character']=='Ophelia']['name'].count()

117

### How many people have played a role called "The Dude"?

In [78]:
cast[cast['character']=='The Dude']['name'].count()

19

### How many people have played a role called "The Stranger"?

In [79]:
cast[cast['character']=='The Stranger']['name'].count()

212

### How many roles has Sidney Poitier played throughout his career?

In [80]:
cast[cast['name']=='Sidney Poitier']['character'].count()

43

### How many roles has Judi Dench played?

In [81]:
cast[cast['name']=='Judi Dench']['character'].count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [90]:
cast[cast['n']==2][cast['name']=='Cary Grant'][cast['year']==1940]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [92]:
cast[cast['n']==1][cast['name']=='Cary Grant'][cast['year']==1940]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,title,year,name,type,character,n
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [93]:
cast[cast['year']==1950][cast['type']=='actor']['character'].count()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

16760

### How many roles were available for actresses in the 1950s?

In [94]:
cast[cast['year']==1950][cast['type']=='actresses']['character'].count()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
def year(x):
    if x<=1980:
        return True
    else:
        return False

In [98]:
cast[cast['n']==1]['year'].apply(lambda x:year(x)).sum()

9732

### How many non-leading roles were available through from the beginning of film history through 1980?

In [99]:
cast[cast['n']!=1]['year'].apply(lambda x:year(x)).sum()

205739

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [103]:
cast[cast['year'].apply(lambda x:year(x))]['n'].isna().sum()

97598